.container-tasks-gifts{
    height: 100%;
    background: #ffffff;
    opacity: 1;
    border-radius: 20px;
    margin-top: 13px;
    box-shadow: 0 0 5px 2px rgb(177, 177, 177);
    padding: 0;
    
}

.chat{
    overflow-y: auto;
    height: 630px;
    display: flex;
    flex-direction: column;
}


.messages{
    flex: 1 1;
}

.container-chat{
    height: 630px;
    background: #ffffff;
    opacity: 1;
    border-radius: 20px;
    margin-top: 13px;
    box-shadow: 0 0 5px 2px rgb(177, 177, 177);
}

.container{
    height: 100%;
    width: 100%;
    margin-top: 2px;
}