.tasks-gifts{
    display: flex;
    flex-direction: row;
    font-size: 20pt;
}

.tasks{
    flex: 1 1;
    background: #EAEAEA;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    border-radius: 15px;
    display: flex;
}

.tasks div img{
    width: 40px;
    height: 40px;
    margin: auto;
}

.gifts div img{
    width: 40px;
    height: 40px;
    margin: auto;
}

.tasks-text{
    flex: 1 1;
}

.gifts-text{
    flex: 1 1;
}

.tasks span{
    margin: auto;
}

.gifts span{
    margin: auto;
}

.tasks.active{
    background: #B8F985;
}

.gifts{
    flex: 1 1;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    background: #EAEAEA;
    border-radius: 15px;
    display: flex;
}

.gifts.active{
    background: #D2FDB0;
}