.task-container{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.task-buttons{
    flex: 1 1;
}

.task-buttons img{
    width: 50px;
    height: 50px;
}

.task{
    font-size: 13pt;
}

.task.do{
    opacity: 0.5;
}