.profile-container{
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    background: #EAEAEA;
    box-shadow: 0 0 5px 2px rgb(177, 177, 177);
    margin-left: 10px;
}


.profile-container.active{
    background: #B8F985;
    margin-left: 3px;
}

.profile-img{
    display: flex;
    flex: 1 1;
    flex-direction: column;
}

.penalty-award{
    display: flex;
    flex: 1 1;
    flex-direction: column;
    margin-top: 10px;
}

.penalty-award div{
    flex: 1 1;
    margin: auto;
}

.penalty-award div img{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    box-shadow: 0 0 5px;
}

.profile-data{
    display: flex;
    flex: 1 1;
    margin: auto;
    flex-direction: column;
}

.profile-data-container{
    display: flex;
}

.profile-data-container div{
    flex: 1 1;
    margin: auto;
}

.profile-data-container div img{
    width: 20px;
    height: 20px; 
}

.profile-img img{
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    width: 100px;
    height: 100px;
    border-radius: 50px;

}