.profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.profile img{
    margin: auto;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    margin-bottom: 10px;
}

.side-menu-container{
    background: #EAEAEA;
    height: 100%;
}