.notif-container{
    display: flex;
    flex-direction: row;
    width: 300px;
    margin-top: 5px;
    margin-bottom: 5px;
    background: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 5px 2px rgb(177, 177, 177);
}


.notif-img img{
    width: 60px;
    height: 60px;
    border-radius: 30px;
}

.notif-text-cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: space-between;
    margin-left: 10px;
}
