.entry input {
    width: 100%;
    height: 48px;
    border: 5px solid rgba(184,249,133,.9);
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box; 
    display:block;
    font-family: 'Open Sans', sans-serif;
    font-size:18px;
    font-weight: 300;    
    color:#000000;
    padding-left:20px;
    padding-right:20px;
    margin-bottom:20px;
}

.send img{
    width: 50px;
    height: 50px;
}

.chat-controls{
    display: flex;
}

.send{
    margin-left: auto;
}

.entry{
    flex: 1 1;
}