.messages{
    overflow-y: auto;
    margin-top: 5px;
    margin-bottom: 5px;
}

.message-container div{
    background: #B8F985;
    border-radius: 5px;
    margin-top: 5px;
}

.message.right{
    margin-left: auto;
    margin-right: 10px;
}

.message-container{
    display: flex;
}