@font-face {
  font-family: GeneralFont; /* Гарнитура шрифта */
  src: url('./res/15792.otf'); /* Путь к файлу со шрифтом */
 }
 
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url(./res/drawable/background_1.jpg);
  background-size: 100%;
   font-family: GeneralFont;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
